.form {
  display: flex;
}

.formInput {
  padding: 5px;
  font: inherit;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #191d1e;
  font-size: 16px;

  outline: none;
}

.formBtn {
  padding: 5px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #191d1e;
  color: #191d1e;
  font-size: 16px;
  margin-left: 10px;
}
